input[type="text"].password {
    font-family: 'dotsfont-regular';
    line-height: 33px;
    margin-top: 7px;
    background-color: transparent;
}

.form-input-bg {
    width: 288px;
    background-image: url("/ingame/images/TextField.png");
}

.form-input-bg:hover:not(:active) {
    background-image: url("/ingame/images/TextField-hover.png");
}

.form-input {
    width: 100%;
}

