.title {
    color: #b4b7b9;
	font-size: 20px;
	text-align: center;
}
.view label {
    font-family: "Arial";
}

form {
	margin-left: 50%;
	padding-top: 55px;
}

form > .form-group {
    margin-left: -144px;
    margin-right: 50%;
    margin-top: -15px;
    width: 288px;
}

form > .form-group-title {
	padding-top: -20px;
	padding-bottom: 0px;
	height: 45px;
}
form > .form-group-tos {
	margin-top: -5px;
	margin-left: -154px;
	margin-bottom: 25px;
}
form > .form-group-button {
    height: 48px;
    margin-left: -170px;
}

.form-group > p {
	filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 1));
	font-size: 11px;
	color: #b4b7b9;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

.form-group.float {
    position: absolute;
    margin-top: -110px;
    margin-left: 160px;
    margin-right: 0px;
}

.form-group #selected-avatar-div {
    margin-left: 27px;
}

.creating-account-view {
    text-align: center;
    position: absolute;
    margin-top: 200px;
    width: 100%;
    margin-bottom: -30%;
}

.creating-account-view p {
	color: #b4b7b9;
	text-align: center;
	width: 100%;
}

.form-group {
    overflow: hidden;
    margin-bottom: 20px;
}

.form-group-button {
    padding: 0px 27px;
}

.term-service {
    color: #c9c9c9;
}

#signup-form {
    position: absolute;
    top: 50%;
    margin-top: -220px;
}