<!DOCTYPE html>
<html lang="en">
<head>
    <title>Darkspore Registration</title>
    <script type="text/javascript" src="js/json2.js"></script>
    <script type="text/javascript" src="js/eawebkit.js"></script>
    <script type="text/javascript" src="js/recapclient.js"></script>

    <script type="text/javascript" src="js/angular.js"></script>
    <script type="text/javascript" src="angular/app.js"></script>
    <script type="text/javascript" src="angular/app/registerCtrl.js"></script>

    <script type="text/javascript" src="angular/directive/dsbutton.js"></script>
    <script type="text/javascript" src="angular/directive/dscheckbox.js"></script>
    <script type="text/javascript" src="angular/directive/dsinput.js"></script>
    <script type="text/javascript" src="angular/directive/dsmodal.js"></script>
    <script type="text/javascript" src="angular/directive/dswindow.js"></script>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/dsbutton.css">
    <link rel="stylesheet" type="text/css" href="css/dscheckbox.css">
    <link rel="stylesheet" type="text/css" href="css/dsinput.css">
    <link rel="stylesheet" type="text/css" href="css/dsmodal.css">
    <link rel="stylesheet" type="text/css" href="css/dswindow.css">

    <link rel="stylesheet" type="text/css" href="css/fonts.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
    <body>
        <div ng-app="darksporeApp" ng-controller="registerCtrl">
            <dswindow>
                <form method="POST" id="signup-form" ng-hide="$parent.isLoading">
                    <div class="form-group form-group-title">
                        <div class="title darkspore-font">Register</div>
                    </div>
                    <div class="form-group">
                        <p class="darkspore-font">Enter Username</p>
                        <dsinput type="text" ng-model="$parent.name" maxlength="6"></dsinput>
                    </div>
                    <div class="form-group">
                        <p class="darkspore-font">Enter Email</p>
                        <dsinput type="text" ng-model="$parent.email"></dsinput>
                    </div>
                    <div class="form-group float">
                        <p class="darkspore-font">Select Avatar</p>
                        <div id="selected-avatar-div" ng-mouseup="toggleAvatarDialog()"><img src="images/avatars/{{selectedAvatar.code}}.png"/></div>
                    </div>
                    <div class="form-group">
                        <p class="darkspore-font">Enter Password</p>
                        <dsinput type="password" ng-model="$parent.password"></dsinput>
                    </div>
                    <div class="form-group-tos">
                        <dscheckbox ng-model="$parent.agreeTerms">
                            I understand & accept the <a href="#" class="term-service" ng-mouseup="$parent.showTerms()">Terms of service</a>
                        </dscheckbox>
                    </div>
                    <div class="form-group form-group-button">
                        <dsbutton title="Sign up" ng-click="$parent.register()"></dsbutton>
                    </div>
                </form>
                <div class="creating-account-view darkspore-font" ng-show="$parent.isLoading"><p>Creating account...</p></div>
            </dswindow>

            <dsmodal id="avatar-dialog" title="Choose your avatar" ng-show="showAvatarDialog">
                <div id="signup-select-avatar-form">
                    <div ng-repeat="avatar in avatarsById" ng-mouseup="selectAvatar(avatar)" ng-class="{selected:(avatar.id === selectedAvatar.id)}">
                        <img src="images/avatars/{{avatar.code}}.png"/>
                    </div>
                </div>
                <div class="form-group form-group-button">
                    <dsbutton title="Done" ng-click="toggleAvatarDialog()"></dsbutton>
                </div>
            </dsmodal>

            <dsmodal id="message-dialog" title="{{messageDialogTitle}}" ng-show="showMessageDialog">
                <div class="modal-message" id="message">{{messageDialogMessage}}</div>
                <div class="form-group form-group-button">
                    <dsbutton title="Ok" ng-click="closeModal()"></dsbutton>
                </div>
            </dsmodal>
        </div>
    </body>
</html>
